
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Trabalho P.O - Simples</title>
</head>
<body>
    <div class="col">
        <br>
        <h1>Trabalho P.O - Simples</h1>
        <hr>
    </div>
    <div id="app">
        <form>
            <div class="col">
                <div class="form-group">
                    <label for="tipo">Tipo do Método</label>
                    <select :model='metodo' class="form-control" name="tipo" id="tipo">
                        <option value="" disabled> Selecione o Tipo</option>
                        <option value="Max">Max</option>
                        <option value="Min">Min</option>
                    </select>
                </div>
            </div>
            

            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Restrições</h5>
                </li>
                <li class="list-group-item">
                    

                        <div class="row" v-for="linha in linhas">
                            <div v-for="coluna in colunas">
                                <div class="col">
                                    <label for="restX[]">Restrição X ({{ coluna }}) {{campos[linha - 1][coluna - 1]}} </label>
                                    <input type="number" name="campo[][]" v-model.number="campos[linha - 1][coluna - 1]" :id="'campos['+linha - 1 +']['+coluna - 1 +']'" step="0.01" class="form-control">
                                </div>
                            </div>
                            <div style="width: 20%;">
                                <label for="limite[]">Limite ({{linha }}) </label>
                                <input type="number" name="limite[]" v-model.number="limite[linha - 1]" :id="limite['+linha - 1 +']" step="0.01" class="form-control">
                            </div>
                        </div>
            
                        <div>
                            <br>
                            <button type="button" class="btn btn-primary" @click="adicionarColuna"> Add Coluna </button>
                            <button type="button" class="btn btn-default" @click="removerColuna"> Remove Last Coluna</button>
                            
                            <button type="button" class="btn btn-primary" @click="adicionarLinha"> Add Linha </button>
                            <button type="button" class="btn btn-default" @click="removerLinha"> Remove Last Linha</button>
                        </div>
                    
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Função Obejtivo (Z)</h5>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div v-for="coluna2 in colunas">
                            <div class="col">
                                <label for="foX">Z ({{ coluna2 - 1 }})</label>
                                <input type="number" name="fo[]" v-model.number="funObj[coluna2]" id="fo['+coluna2-1+']" step="0.01" class="form-control">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="col">
                <br>
                <button type="button" @click="enviar()" class="btn btn-success">Enviar</button>
            </div>
        </form>

        <hr>
        <br>
        <div v-if="metodoFinalizado">
            <h5>Metodo Finalizado</h5>
            <table>
                <tr v-for="campoM in camposMetodo">
                    <td> {{ campoM }} </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                metodo: 'Max',
                metodoFinalizado: false,
                linhas: 1,
                colunas: 2,
                campos: [],
                limite: [],
                camposMetodo: [],
                limitesMetodo: [],
                funObj: [],
                funObjMetodo: []
            },
            methods: {
                adicionarLinha() {
                    // this.linhas.push(this.linhas.length + 1);
                    this.linhas++;
                    this.campos[this.linhas] = new Array(this.colunas);
                    this.limite[this.linhas] = new Array();
                    console.log(this.campos);
                },
                removerLinha() {
                    // this.linhas.shift();
                    this.linhas--;
                },
                adicionarColuna() {
                    // this.colunas.push(this.colunas.length + 1);
                    this.colunas++;
                },
                removerColuna() {
                    this.colunas--;
                    // this.colunas.shift();
                },
                enviar() {
                    if (this.metodo == 'Min') {
                        for (let ind = 0; ind <= this.linhas-1; ind++) {
                            this.camposMetodo[ind] = new Array(this.colunas -1);
                            for (let ind2 = 0; ind2 <= this.colunas-1; ind2++) {
                               this.camposMetodo[ind][ind2] = parseFloat(this.campos[ind][ind2]) * -1;
                            }
                        }
                    } else {
                        // this.metodo == 'Max'
                        // Alteração da Função Objetivo antes de inicar o método
                        // console.log('Max');
                        
                        let menorFo = 1;
                        let posicaoMenorFo = -1;
                        
                        // Aqui o inicio da repetição
                        for (let ind = 1; ind <= this.colunas ; ind++) {
                            this.funObjMetodo[ind] = parseFloat(this.funObj[ind]) * -1;
                            if (this.funObjMetodo[ind] < menorFo) {
                                menorFo = this.funObjMetodo[ind];
                                posicaoMenorFo = ind - 1;
                            }
                        }

                        // Altera o sinal dos campos
                        for (let ind = 0; ind <= this.linhas-1; ind++) {
                            this.camposMetodo[ind] = new Array(this.colunas -1);
                            this.limitesMetodo[ind] = parseFloat(this.limite[ind]) * -1;
                            for (let ind2 = 0; ind2 <= this.colunas-1; ind2++) {
                               this.camposMetodo[ind][ind2] = parseFloat(this.campos[ind][ind2]) * -1;
                            }
                        }

                        // limites
                        let linhaPivo = -1;
                        var menorlinhaPivo = null;
                        let divisaoLimitePorColuna = null;
                        for (let ind = 0; ind <= this.linhas-1; ind++) {
                            divisaoLimitePorColuna = this.limitesMetodo[ind] / this.camposMetodo[ind][posicaoMenorFo]
                            if (menorlinhaPivo == null) {
                                menorlinhaPivo = divisaoLimitePorColuna
                            } else {
                                if (divisaoLimitePorColuna > 0 && divisaoLimitePorColuna < menorlinhaPivo) {
                                    menorlinhaPivo = divisaoLimitePorColuna
                                }
                            } 
                        }
                        
                        // mostra os resultados
                        this.metodoFinalizado = true;
                        
                    }
                }
            },
            created() {
                for(let ind = 0; ind <= this.linhas; ind++) {
                    this.campos[ind] = new Array(this.colunas -1);
                }
            }
        })
    </script>
</body>
</html>
<!--
    <?php
    // var_dump($_POST);
    if (isset($_POST)) {
        if (!isset($_POST['restX']) || sizeof($_POST['restX']) < 1) {
            echo "Preencha pelo menos um valor";
            return false;
        }
        if (!isset($_POST['restY']) || sizeof($_POST['restY']) < 1) {
            echo "Preencha pelo menos um valor";
            return false;
        }

        if (strtolower($_POST['tipo']) == 'min') {
            $array_x = [];
            foreach($_POST['restX'] as $index => $valor) {
                if (floatval($valor) == 0) {
                    $array_x[$index] = 0;    
                } else {
                    $array_x[$index] = floatval($valor) * -1;
                }
            }

            $array_y = [];
            foreach($_POST['restY'] as $index => $valor) {
                if (floatval($valor) == 0) {
                    $array_y[$index] = 0;    
                } else {
                    $array_y[$index] = floatval($valor) * -1;
                }
            }

            // var_dump($array_x);
        }
        if (strtolower($_POST['tipo']) == 'max') {
            // Inserir calculos aqui
            $foX = 0;
            $foY = 0;
            if (floatval($_POST['foX']) == 0) {
                $foX = 0;
            } else {
                $foX = floatval($_POST['foX']) * -1;
            }

            if (floatval($_POST['foY']) == 0) {
                $foY = 0;
            } else {
                $foY = floatval($_POST['foY']) * -1;
            }

            print_r($foX);
            print_r($foY);
        }
    }
?>
-->

<!-- <div class="row" v-for="linha in linhas">
        <div class="col">
            <label for="restX[1]">Restrição X ({{linha}}) </label>
            <input type="number" name="restX[]" :id="'restX['+linha+']'" step="0.01" class="form-control">
        </div>
        <div class="col">
            <label for="restY[1]">Restrição Y ({{linha}}) </label>
            <input type="number" name="restY[]" :id="'restY['+linha+']'" step="0.01" class="form-control">
        </div>
    </div> -->
  <!--                 
                <div class="row">
                    <div class="col">
                        <label for="restX[1]">Restrição X</label>
                        <input type="number" name="restX[]" id="restX[1]" step="0.01" class="form-control">
                    </div>
                    <div class="col">
                        <label for="restY[1]">Restrição Y</label>
                        <input type="number" name="restY[]" id="restY[1]" step="0.01" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="restX[2]">Restrição X</label>
                        <input type="number" name="restX[]" id="restX[2]" step="0.01" class="form-control">
                    </div>
                    <div class="col">
                        <label for="restY[2]">Restrição Y</label>
                        <input type="number" name="restY[]" id="restY[2]" step="0.01" class="form-control">
                    </div>
                </div> -->

<!-- <div class="col">
                            <label for="foX">Z de X</label>
                            <input type="number" name="foX" id="foX" step="0.01" class="form-control">
                        </div>
                        <div class="col">
                            <label for="foY">Z de Y</label>
                            <input type="number" name="foY" id="foY" step="0.01" class="form-control">
                        </div>
                    -->